{% include 'dashboard/nav.html' %}
<form method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <label for="name">Service Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                           value="{{ object.name }}">
                    <small id="nameHelp" class="form-text text-muted">Service Name for usage across
                        <i>Happening</i></small>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                           aria-describedby="descriptionHelp"
                           value="{{ object.description }}">
                    <small id="descriptionHelp" class="form-text text-muted">Longer form for describing the service to
                        viewers</small>
                </div>
                <div class="form-group form-check">
                    {% if object.public %}
                        <input type="checkbox" class="form-check-input" id="public" name="public" checked>
                    {% else %}
                        <input type="checkbox" class="form-check-input" id="public" name="public">
                    {% endif %}
                    <label class="form-check-label" for="public">Public: Service is viewable without
                        authentication)</label>
                </div>
                <div class="form-group form-check">
                    {% if object.enabled %}
                        <input type="checkbox" class="form-check-input" id="enabled" name="enabled" checked>
                    {% else %}
                        <input type="checkbox" class="form-check-input" id="enabled" name="enabled">
                    {% endif %}
                    <label class="form-check-label" for="enabled">Enabled: Allow the service into the application
                        graph</label>
                </div>
                <div class="form-group form-check">
                    {% if object.is_capability %}
                        <input type="checkbox" class="form-check-input" id="is_capability" name="is_capability" checked>
                    {% else %}
                        <input type="checkbox" class="form-check-input" id="is_capability" name="is_capability">
                    {% endif %}
                    <label class="form-check-label" for="is_capability">Service is a capability: The service is the top
                        level
                        root for business capability. Typically this is a service like "e-commerce" that might be
                        comprised
                        of many services</label>
                </div>
                <input type="submit" class="btn btn-success" value="Create">
            </div>
        </div>
    </div>
</form>