{% include 'dashboard/nav.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="service">Service</label>
                        <p class="form-control" id="service">
                            {{ object.service.name }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <p class="form-control" id="type">
                            {{ current_state.common_name }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="filed-at">Filed At</label>
                        <p class="form-control" id="filed-at">
                            {{ object.filed_at }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="forecast">Forecasted end time</label>
                        <p class="form-control" id="forecast">
                            {{ object.forecast_change_date }}
                        </p>
                    </div>
                    <a class="btn btn-primary" href="{% url 'dash:state_edit_view' object.service.id object.id %}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Comments
                </div>
                <div class="card-text">
                    <div class="container-fluid">
                        <form method="post" action="{% url 'dash:state_add_comment' object.service.id object.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="state" value="{{ object.id }}">
                            <div class="form-group">
                                <label for="content">Add Comment</label>
                                <textarea class="form-control" id="content" name="content"
                                          aria-describedby="contentHelp"></textarea>
                                <small id="contentHelp" class="form-text text-muted">plain text only!</small>
                                <input class="btn btn-primary" type="submit" value="Comment">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">User</th>
                            <th scope="col">Content</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr onclick="window.location.href='{% url 'dash:state_edit_comment_view' object.service.id object.id comment.id %}'">
                                <th scope="row">{{ comment.edited_at }}</th>
                                <td>
                                    {{ comment.user.username }}
                                    {% if comment.edited %}
                                        <small>(edited)</small>
                                    {% endif %}
                                </td>
                                <td>{{ comment.content }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>